* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  line-height: 1;
  background-color: #0f172a;
  color: #f8fafc;
  max-width: 144rem;
}

ul {
  list-style: none;
}

.container {
  padding: 0 14.5rem;
}

.heading--primary {
  font-weight: bold;
  font-size: 4.8rem;
  margin: 8.2rem 14.4rem;
}

.heading--primary span {
  color: #16b8f3;
}

.heading--secondary {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 3rem;
  color: #f8fafc;
}

/* header */

.header--primary {
  height: 11.2rem;
  padding: 2rem 10rem;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 3.5rem;
}

.primary--nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;

  font-weight: bold;
  font-size: 2.4rem;
}

.primary--nav a:link,
a:visited {
  color: #f8fafc;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: bold;
}

/* Recent projects */

.container--columns {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.project-card {
  max-width: 115rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30rem;
  gap: 3rem;
  background-color: #1e293b;
  padding: 0 3rem;
  border-radius: 2rem;
}

.project-card__img {
  width: 250px;
  height: 231.76px;
}

.text-box {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  color: #cbd5e1;
}

/* latest posts */

.posts__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.post-card {
  margin-top: 0;
  background-color: #1e293b;
  text-align: center;
  width: 36.9rem;
  height: 50rem;
  font-size: 2rem;
  border-radius: 2rem;
}

.post-card__heading {
  font-size: 2.4rem;
  margin: 2.4rem;
  font-weight: 700;
}

.date {
  margin-bottom: 2.4rem;
  font-size: 2rem;
  font-weight: 400;
}

.post-card__text {
  padding: 0 1.35rem;
}
